
# Clerk configuration (can include secrets)
/.clerk/

# Node modules
node_modules/

# Next.js build output
.next/
out/
dist/

# OS files
.DS_Store

# Environment variables
.env.local
.env
.next
.next/
